<div class="contact-section">
    <div class="row align-items-center">

        <div class="col-lg-3 col-md-12 col-12 my-2">
            <h3 class="contact-title m-0">CONTACT ME</h3>
        </div>

        <div class="col-lg-3 col-md-4 col-12 my-2">
            <div class="contact-item">
                <i class="fas fa-phone"></i>
                <span>+4-756-822-5156</span>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-12 my-2">
            <div class="contact-item">
                <i class="fas fa-globe"></i>
                <span>www.yourwebsite.com</span>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-12 my-2">
            <div class="contact-item">
                <i class="fas fa-map-marker-alt"></i>
                <span>1173 Valley Street Camden</span>
            </div>
        </div>
        
    </div>
</div>