// Colors
$primary-color: #ff4400;
$primary-color-dark: #b83100;
$body-bg: white;
$text-color: #333;
$text-color-dark: black;
$text-color-light: #3e3e3e;
$section-bg: #ebebeb;
$border-light: #e0e0e0;
$divider-color: #dbdbdb;
$timeline-track-color: #e8e8e8;

// Fonts
$font-primary: "Montserrat", sans-serif;
$font-secondary: 'Arial', sans-serif;

// Spacing
$base-font-size: 1rem;
$base-spacing: 20px;
$container-padding: 40px;
$column-padding: 30px;
$item-padding-left: 20px;